<div class="container">
<h2 class="text-center"><u><%= "#{@user.email}'s Blockmarks"%></u></h2>

<% @bookmarks_by_topic.each do |topic_with_bookmarks| %>
  <% topic, bookmarks = topic_with_bookmarks %>
    <div class="row">
      <div class="media">
        <div class="media-body">
          <h3 class="media-heading">
            <%= link_to topic.title, topic %>
            <% topic.bookmarks.each_slice(3) do |row| %>
              <div class="row">
                <% row.each do |bookmark| %>
                <h4 class="col-md-4">
                <%= link_to bookmark.url, bookmark.url, target: "_blank"  %>
                <% end %>
                </h4>
              </div>
            <% end %>
        </h3>
      </div>
    </div>
  </div>
<% end %>


<h2 class="text-center"><u>Liked Blocmarks</u></h2>

<% @liked_bookmarks_by_topic.each do |topic_with_bookmarks| %>
  <% topic, bookmarks = topic_with_bookmarks %>
  <div class="row">
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">
          <%= link_to topic.title, topic %>
        </h3>
            <% bookmarks.each_slice(3) do |row| %>
            <div class=”row”>
            <% row.each do |bookmark| %>
            <h4 class="col-md-4">
            <%= link_to bookmark.url, bookmark.url, target: "_blank"  %>
              <div class="align-center ">
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
            </h4>
        <% end %>
        </div>      
      <% end %>
    </div>
  </div>
</div>
<% end %>

</div>